/* Styles for Mobile devices */
@import url('./reset.css');

.container {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-right: 16px;
  padding-left: 16px;
}

body {
  background-color: light-dark(#ffffff, #303030);
  color: light-dark(#303030, #ffffff);
}
body[data-color-scheme='dark'] {
  color-scheme: dark;
}
body[data-color-scheme='light'] {
  color-scheme: light;
}
/* Styles for Tablet devices */
/* @media only screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
} */
/* Styles for Desktop devices */
/* @media only screen and (min-width: 1200px) {
  .container {
    max-width: 1200px;
  }
} */
